@font-face {
  font-family: 'Arvo';
  src: url('../assets/fonts/Arvo-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Arvo';
  src: url('../assets/fonts/Arvo-Bold.ttf') format('truetype');
  font-weight: bold;
}

.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url("../assets/img/dribbble_1.gif");
    height: 400px;
    background-position: center;
 }
  
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
.four_zero_four_bg h3{
	font-size:80px;
}
			 
.link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;}
.contant_box_404{ margin-top:-50px;}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.row {
    display: block;
}

.col-sm-12,
.col-sm-10 {
    width: 100%;
}

